html, body {
  margin:0px;
  height:100%;
}

#Flyer {
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 90%;
}

/* mobile */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px)
{
  #Flyer {
  height: auto;
  width: 95%;
  }
}
